$primary-color: #f4f6f4;

.loginContainer {
  grid-column: 2;
}

form {
  background: $primary-color;
  margin-top: 3rem;
  padding: 1rem;
  border: 2px solid darken($primary-color, 15%);
  border-radius: 4px;

  .Label {
    font-size: 1.5rem;
  }

  .Button {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
  }
}
