$primary-color: #f4f6f4;

.movie-view {
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto auto auto;
  background: $primary-color;
  padding: 1rem;
  border: 2px solid darken($primary-color, 15%);
  border-radius: 4px;

  img {
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  .label {
    font-size: 1.2rem;
    font-weight: bold;
    background: lighten($primary-color, 20%);
    margin-left: 2rem;
    padding-right: 1rem;
  }

  .movie-title {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.4rem;
  }

  .movie-description {
    grid-column: 2;
    grid-row: 2;
    // margin-left: 2rem;
  }

  .movie-genre {
    grid-column: 2;
    grid-row: 3;
  }

  .movie-director {
    grid-column: 2;
    grid-row: 4;
  }
}
