* {
  box-sizing: border-box;
}

.main-view {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
  margin-top: 3rem;

  .profilLink {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: flex-end;
  }
}
