$primary-color: #f4f6f4;
$secondary-color: #4d2101;

* {
  box-sizing: border-box;
}

.main-view {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
  // background: darken($primary-color, 2%);

  .movies-list {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-gap: 1rem;
    margin: 3rem 0;
    padding: 2rem;
    border: 2px solid darken($primary-color, 1%);
    border-radius: 4px;
    background: lighten($primary-color, 20%);

    .search-bar {
      grid-column: 1 / span 2;
    }

    .profilLink {
      grid-column: 3;
      display: flex;
      justify-content: center;
    }
  }

  // .profilLink {
  //   grid-column: 1 / span 3;
  //   display: flex;
  //   justify-content: flex-end;
  // }
}
