$primary-color: #f4f6f4;
$secondary-color: #4d2101;
$primary-padding: 0.3rem;

.profile-view {
  grid-column: 2;

  .card {
    background: $primary-color;
  }

  .cardLabel {
    background: lighten($primary-color, 20%);
    color: lighten($secondary-color, 20%);
    margin-right: 1rem;
    font-weight: bold;
    padding: $primary-padding;
  }

  li {
    background: lighten($primary-color, 20%);
    list-style-type: none;
    padding: 0.2rem;
  }

  .btns {
    display: flex;
  }
}
